
*{
	border-radius: 10px;
}

#window {
	font-size: 18px;
	font-family: FiraCode Nerd Font,sans-serif;
	background-color: rgba(50,50,50,0.9);
	color: #ffffff;
}

#entry:selected {
	background-image: linear-gradient(90deg, #5BCF8B, #539BED); 
}

#text:selected {
	color: #333333;
}

